:is(#blog-inline-priority,[data-blog-style="catalogue-0"]){background-image: url('/assets/wesley-blog/blog-assets/platform.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-1"]){background-image: url('/assets/wesley-blog/blog-assets/website.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-2"]){background-image: url('/assets/wesley-blog/blog-assets/review.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-3"]){background-image: url('/assets/wesley-blog/blog-assets/platform.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-4"]){background-image: url('/assets/wesley-blog/blog-assets/website.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-5"]){background-image: url('/assets/wesley-blog/blog-assets/review.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-6"]){background-image: url('/assets/wesley-blog/blog-assets/platform.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-7"]){background-image: url('/assets/wesley-blog/blog-assets/website.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-8"]){background-image: url('/assets/wesley-blog/blog-assets/review.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-9"]){background-image: url('/assets/wesley-blog/blog-assets/platform.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-10"]){background-image: url('/assets/wesley-blog/blog-assets/website.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-11"]){background-image: url('/assets/wesley-blog/blog-assets/review.svg')}
:is(#blog-inline-priority,[data-blog-style="catalogue-12"]){transition: top 3s ease-out 0s; top: 0px;}
:is(#blog-inline-priority,[data-blog-style="catalogue-13"]){transition: top 3s ease-out 0s; top: 0px;}
:is(#blog-inline-priority,[data-blog-style="catalogue-14"]){transition: top 3s ease-out 0s; top: 0px;}
:is(#blog-inline-priority,[data-blog-style="catalogue-15"]){display:none}
